@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Josefin+Sans:wght@100&family=Karla:wght@300&family=Montserrat:wght@300&family=Poppins:ital,wght@0,300;1,100&family=Roboto:ital,wght@0,300;1,400&display=swap');   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background: linear-gradient(#1BCEDF, #5B247A); 
    background-repeat: no-repeat;
    font-family: Poppins;

}
.maincontainer{
    background: linear-gradient(#5B247A, #1BCEDF); 
    margin: 40px 20px 40px 20px;background-repeat: no-repeat;
    

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 
}
.nav-container {

    margin: 40px 40px 40px 40px;
    display: flex;
    align-items: center;
   
}

.nav-title {
    margin-right: auto; /* push the title to the left */
    font-size: 100px; /* Set the font size to 20 pixels */
    color:  rgb(251, 213, 1);
}

.nav-menu {
    list-style: none; /* remove the default bullet points */

}

.nav-menu{
    padding-top: 135px;
}

.nav-menu a{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
}

.carousel-container {
    margin: 40px 40px 40px 40px;
    width: 95%;
    height: 800px;
    position: relative;
    
  }
  
  .carousel-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .carousel-slide img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }
  
  .current-slide {
    display: block;
  }
  
  .carousel-slide:not(.current-slide) {
    display: none;
  }
  
.next-btn {
    position: absolute;
    bottom: 10px;
    right: 50px;
    background-color: #12b6c5;
    display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out;
}
.next-btn:hover {
    background-color: #007bff;
    color: #fff;
  }
  
.next-btn primary{
    background-color: #007bff;
    color: #fff;
}
.next-btn secondary{
    background-color: #6c757d;
    color: #fff;
}

/* about Me */
.container3{
    margin: 40px 40px 40px 40px;

    display: flex;

    justify-content: space-around;
    align-items: center;
    gap: 320px;
}
.about-title{
    color:  rgb(251, 213, 1);
    font-size: 75px;
    padding-bottom: 25%;
    padding-left: 10%;
    
    
    display: flex;
}
.about-content{
    color: aliceblue;
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 200px;

}
.slide1 img {
    width: 600px;
    height: 80%;
    
}

/* portfolio */
.container4{
    margin: 40px 40px 40px 40px;

    display: flex;

    justify-content: space-between;
    align-items: baseline;
    
    
}
.photo img{
   width: 500px;
   height: 450px;
}
.photo p{
    font-size: 50px;
    padding-bottom: 30px;
    color:  rgb(251, 213, 1);
    
}
.photo2 img{
    width: 400px;
    height: 320px;
    
}
.photo2 p{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: azure;
   
    
    
}
.photo3 img{
    width: 400px;
    height: 320px;
    
    
}
.photo3 p{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: azure;
}

/* number 4 */
.container5{
    margin: 40px 40px 40px 40px; 

    display: flex;
    justify-content: space-around;
    align-items: flex-start;


}
.photo4 img{
    width: 570px;
   height: 480px;
}


.photo5 img{
    width: 570px;
    height: 480px;
 }
.photo5 p{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    color: azure;
}



.msg{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  
    text-align: start;
    color: azure;
}


/* number 5 */
.container6{
    margin: 40px 40px 40px 40px; 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: azure;

}
.photo6 img{
    height: 550px;
    width: 300px;
   
}
.quotes{
    font-size: 50px;
    width: 1000px;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: flex-start;
    text-align: start;
    padding-bottom: 100px;
    color:  rgb(122, 1, 251);
}

/* final */
.container7{
    margin: 40px 40px 40px 40px; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: rgb(58, 0, 151);
}
.photo7 img{
    width: 570px;
    height: 300px;
}
.last{
    font-size: 100px;
    color: rgb(122, 1, 251); 
}
hr {
    border: 0;
    border-color: rgb(251, 138, 1);
    background-color: rgb(251, 138, 1);
    color: rgb(251, 138, 1);
    height: 3px;
    background: rgb(251, 138, 1);
  }

/* gapp */
#first{
    border: 0;
    border-color: #12b6c5;
    background-color:  #12b6c5;
    color: #12b6c5;
    height: 3px;
    background:  #12b6c5;
}

#second{
    border: 0;
    border-color: #168c97;
    background-color:  #168c97;
    color: #168c97;
    height: 3px;
    background:  #168c97;
}
#third{
    border: 0;
    border-color: #3c73d886;
    background-color:  #3c73d886;
    color: #3c73d886;
    height: 3px;
    background:  #3c73d886;
}
#fourth{
    border: 0;
    border-color: #9c42ec8e;
    background-color:  #9c42ec8e;
    color: #9c42ec8e;
    height: 3px;
    background:  #9c42ec8e;
}
#five{
    border: 0;
    border-color: #5B247A;
    background-color:  #5B247A;
    color: #5B247A;
    height: 3px;
    background:  #5B247A;
}
